absl-py==2.3.1
aiofiles==25.1.0
asttokens==3.0.1
chex==0.1.91
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.17
decorator==5.2.1
einops==0.8.1
etils==1.13.0
executing==2.2.1
filelock==3.20.0
flax==0.12.1
fonttools==4.61.0
fsspec==2025.12.0
humanize==4.14.0
importlib_resources==6.5.2
ipykernel==7.1.0
ipython==9.8.0
ipython_pygments_lexers==1.1.1
jax==0.7.1
jax-rocm7-pjrt @ https://repo.radeon.com/rocm/manylinux/rocm-rel-7.1.1/jax_rocm7_pjrt-0.7.1-py3-none-manylinux_2_28_x86_64.whl#sha256=f70c32e22e7abed62a53a19b314a55e71d52fe12dd2f70b7c866a733082be14b
jax-rocm7-plugin @ https://repo.radeon.com/rocm/manylinux/rocm-rel-7.1.1/jax_rocm7_plugin-0.7.1-cp311-cp311-manylinux_2_28_x86_64.whl#sha256=b602de6eda387ef22e047ce0bd4bcaf97e45ee5eff59cf3e26626af28ae9831a
jaxlib==0.7.1
jedi==0.19.2
Jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.9.1
kiwisolver==1.4.9
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.1.2
nest-asyncio==1.6.0
networkx==3.6.1
numpy==2.3.5
opt_einsum==3.4.0
optax==0.2.6
orbax-checkpoint==0.11.30
packaging==25.0
parso==0.8.5
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.1
prompt_toolkit==3.0.52
protobuf==6.33.2
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyzmq==27.1.0
rich==14.2.0
scipy==1.16.3
simplejson==3.20.2
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
tensorstore==0.1.79
toolz==1.1.0
torch==2.9.1+cpu
torchvision==0.24.1+cpu
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
treescope==0.1.10
typing_extensions==4.15.0
wcwidth==0.2.14
zipp==3.23.0
